
#PRON{
  color:goldenrod;
  font-weight: bold;
}
#PPRS{
  color:goldenrod;
  font-weight: bold;
}
#PDMN{
  color:goldenrod;
  font-weight: bold;
}
#PNTR{
  color:goldenrod;
  font-weight: bold;
}
#PROPN{
  color:goldenrod;
  font-weight: bold;
}
#NPRP{
  color:goldenrod;
  font-weight: bold;
}
#DDAN{
  color:goldenrod;
  font-weight: bold;
}
#PREL{
  color:goldenrod;
  font-weight: bold;
}
#CCONJ{
  color:blue;
  font-weight: bold;
}
#JCRG{
  color:blue;
  font-weight: bold;
}
#SCONJ{
  color:blue;
  font-weight: bold;
}
#JSBR{
  color:blue;
  font-weight: bold;
}
#JCMP{
  color:blue;
  font-weight: bold;
}
#DET{
  color:#28B463;
  font-weight: bold;
}
#DIAQ{
  color:#28B463;
  font-weight: bold;
}
#DDAC{
  color:#28B463;
  font-weight: bold;
}
#DDBQ{
  color:#28B463;
  font-weight: bold;
}
#DDAQ{
  color:#28B463;
  font-weight: bold;
}
#DIAC{
  color:#28B463;
  font-weight: bold;
}
#DIBQ{
  color:#28B463;
  font-weight: bold;
}
#ADJ{
  color:red;
  font-weight: bold;
}
#NONM{
  color:red;
  font-weight: bold;
}
#VATT{
  color:red;
  font-weight: bold;
}
#DONM{
  color:red;
  font-weight: bold;
}
#ADV{
  color:red;
  font-weight: bold;
}
#ADVN{
  color:red;
  font-weight: bold;
}
#ADVI{
  color:red;
  font-weight: bold;
}
#ADVP{
  color:red;
  font-weight: bold;
}
#ADVS{
  color:red;
  font-weight: bold;
}
#txt{
  color:black;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

header.masthead {
  background-color:#f67280;
}

